* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  z-index: 5;
  top: 5%;
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  box-sizing: border-box;
  overflow: hidden;
}

img {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

footer {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  z-index: 5;
  top: 95%;
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

.thumbnails {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 5;
  left: 50%;
  top: 3vh;
  bottom: auto;
  height: 10vh;
  width: 30vw;
  transition: top 0.4s;
  transform: translateX(-50%); /* shift left 50% of own width */
  overflow-x: scroll;
  overflow-y: hidden;
}

/* img that are children of thumbnail class */
.thumbnails > img {
  height: 75px;
  width: auto;
  flex-shrink: 0;
  padding: 1px;
  cursor: pointer;
}

.bigImageLRButton {
  border: 1px solid white;
  border-radius: 100%;
  background-color: grey;
  color: white;
  padding: 6px 10px;
  z-index: 5;
  opacity: 0.5;
  position: absolute;
  top: 50vh;
  cursor: pointer;
}

.lButton {
  left: 5vw;
}

.rButton {
  right: 5vw;
}

@media (width <= 600px) {
  .thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 85%;
    width: 40vw;
    overflow: scroll;
    overflow: hidden;
  }
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .thumbnails > img {
    height: 5vh;
    width: auto;
  }

  header {
    color: white;
  }

  footer {
    color: rgba(255, 255, 255, 0);
  }
}
